@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.lora{
  font-family: "Lora", serif;
  /* font-optical-sizing: auto; */
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}